extends ../shared/template
block content
  .content
    h2 Meet the players:
    #gamblers
      each gambler in gamblers
        .gambler(data-gambler-id=gambler._id.toString())
          .photo(style='background-image:url(#{gambler.photo});')
          .name= gambler.name
          .cash $#{gambler.cash.toFixed(2)}
          .results
            ul
              li Wins: #{gambler.results.wins}
              li Losses: #{gambler.results.losses}
          .spouse(style='background-image:url(#{gambler.spouse.photo});')
            p.spouseName= gambler.spouse.name
          each asset in gambler.assets
            .asset(style='background-image:url(#{asset.photo});')
              .info
                ul
                  li.name= asset.name
                  li $#{asset.value.toFixed(2)}

block scripts
  script(src='/js/user/gambler.js')
